<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{taskActive}}</strong> item left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
      <!-- class css selected -->
    <li *ngFor="let item of FiltreList"
        (click)="changeFlter(item)">
      <a [ngClass]="{'selected': item === filterNow}">{{item}}</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button (click)="clearAllCompleted()" class="clear-completed">Clear completed</button>
</footer>