  <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
  
 <!-- il va Ajouter la CLASS CSS completed si le todo isCompleted  -->
  <li [ngClass]="{ 'completed ': todoItemChild.isCompleted,
                   'editing': Editer }">
    <div class="view">
      <input class="toggle"
             [formControl]= "checkField"
             [checked]="todoItemChild.isCompleted"
             type="checkbox">

      <label (dblclick)="Edit()">{{todoItemChild.texte}}</label>
      <button (click)="RemoveItem()" class="destroy"></button>
    </div>

    <!-- (blur) => Ce quand il perd le FOCUS -->
    <input class="edit" 
           [value]="todoItemChild.texte"
           [formControl]= "txtInput"
           (blur)="EditionTermine()"
           #idTxtInputEdit
           >
  </li>