<header class="header">
  <h1>todos</h1>
  <input class="new-todo" 
          placeholder="What needs to be done?" 
          [formControl]='txtInput'
          (keyup.enter)='AddTodos()'
          autofocus >
</header>